.login-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;        /* ocupa toda la pantalla */
  width: 100%;
}

.login-left {
  background-color: var(--bg-superficies); /* panel izquierdo */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: var(--texto-primario);
}

.login-right {
  background-color: var(--bg-inputs); /* panel derecho */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: var(--texto-primario);
}

@media (max-width: 768px) {
  .login-page {
    grid-template-columns: 1fr;
    height: auto;
  }

  .login-left,
  .login-right {
    padding: 2rem;
  }
}
