.login-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 60px); /* resta la altura del navbar */
  width: 100%;
}


.login-left {
  background-color: var(--bg2); /* panel más oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: var(--ink);
}

.login-right {
  background-color: var(--bg3); /* panel más claro */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: var(--ink);
}

@media (max-width: 768px) {
  .login-page {
    grid-template-columns: 1fr; /* en mobile se apilan */
  }

  .login-left,
  .login-right {
    padding: 2rem;
  }
}
