.steps-indicator {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.step {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--bg-bordes);
  color: var(--texto-primario);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.step.active {
  background-color: var(--vio-primario);
  color: var(--bg-base);
}
