.App {
  background-color: var(--bg1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main.login-layout {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas iguales */
  gap: 0;
  padding: 0; /* quitamos padding para que llegue a los bordes */
  width: 100%;
}

@media (max-width: 768px) {
  main.login-layout {
    grid-template-columns: 1fr; /* en mobile se apilan */
  }
}
